body {
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-rows: repeat(1fr,5);
    grid-gap: 10px;
}

.clock {
    margin: 0px auto;
    width: 450px;
    height: 450px;
    fill: lightgray;
    grid-column: 1/4;
    grid-row: 3/3;

}
.outer-circle,
.center-circle {
    fill: DarkSlateGray;
}

.hours,
.minutes,
.seconds {
    transform-origin: center;
    stroke-linecap: round;
}

.hours {
    stroke: blue;
    stroke-width: 3px;
    transition: transform 1s ease-in-out;
}
.minutes {
    stroke-width: 2px;
    stroke: darkviolet;
    transition: transform 1s ease-in-out;
}
.seconds {
    stroke: white;
}

.line {
    stroke-width: 1px;
    stroke: white;
    stroke-linecap: round;
    transform-origin: center;
}